<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Avengers Parser Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-3">
  <h1>Avengers Parser Dashboard</h1>
  <div class="list-group">
    <a href="/lookup" class="list-group-item list-group-item-action">Lookup Dashboard</a>
    <a href="/superhero" class="list-group-item list-group-item-action">Superhero Dashboard</a>
  </div>
</div>
</body>
</html>
